body{
    margin: 0;
    background: #DEDEE9;
}
.wrap {
    height: 400px;
    background: #DEDEE9;
    padding: 0 16px;
}
.cards-wrap{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media screen and (min-width: 740px) {
    .cards-wrap{
        flex-direction: row;
        justify-content: center;
    }
}
.card-wrap{
    width: 100%;
    margin-top: 25px;
    position: relative;
}
@media screen and (min-width: 740px) {
    .card-wrap{
        max-width: 400px;
    }
}
.card-content{
    background: #DEDEE9;
    border-radius: 0 26px 26px 26px;
    border: 2px solid #2B2A39;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0 16px;
    transition: all 1s ease-in-out;
}
.card-content-left:after{
    content: '';
    position: absolute;
    width: 179px;
    height: 25px;
    border: 2px solid #292929;
    border-bottom: none;
    left: -2px;
    z-index: 1;
    background: #DEDEE9;
    bottom: 100%;
    border-radius: 26px 26px 0px 0px;
}
.card-content-right{
    background: #DEDEE9;
    border-radius: 26px 0 26px 26px;
    border: 2px solid #2B2A39;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0 16px;
    transition: all 1s ease-in-out;  
}
.card-content-right:after{
    content: '';
    position: absolute;
    width: 179px;
    height: 25px;
    border: 2px solid #292929;
    border-bottom: none;
    right: -2px;
    z-index: 1;
    background: #DEDEE9;
    bottom: 100%;
    border-radius: 26px 26px 0px 0px;
}
.card-name__wrap{
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: calc(100% + 2px);
    height: 23px;
    width: calc(100% - 183px);
    background-color: #1A4997;
    border-radius: 0 6px 1px 0;
}
.card-name__wrap-right{
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: calc(100% + 2px);
    height: 23px;
    width: calc(100% - 183px);
    background-color: #1A4997;
    border-radius:  6px 0 0 1px;
}
.card-name__text{
    color: #E7E7F0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 100%;
    font-family: "Montserrat", sans-serif;
    z-index: 5;
    position: absolute;
    bottom: calc(100% + 8px);
    right: 6px;
}
.card-name__text-right{
    color: #E7E7F0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 100%;
    font-family: "Montserrat", sans-serif;
    z-index: 5;
    position: absolute;
    bottom: calc(100% + 8px);
    left: 6px;
}
.card-corner{
    position: absolute;
    z-index: 2;
    left: 129px;
    bottom: calc(100% - 2px);
    width: 104px;
}
.card-corner-right{
    position: absolute;
    z-index: 2;
    right: 129px;
    bottom: calc(100% - 2px);
    width: 104px;
    transform: scale(-1, 1)
}
.card-img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;
    float: left;
    margin-right: 7px;
}
.card-img-right{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;
    float: right;
    margin-left: 7px;
}
.card-content__container{
    transform: translateY(-13px);
    z-index: 6;
    position: relative;
    transition: max-height 0.5s ease-in-out;
}
.card-content__container p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: justify;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    height: auto;
    max-height: 42px;
    transition: max-height 0.5s ease-in-out;
    overflow: visible;
}
.card-content__opened p{
    max-height: none;
    overflow: visible;
}
.card-content__fio{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #2B2A39;
    margin-bottom: 10px;
}
.card-content__right{
    text-align: right;
}
.card-content__button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.card-content__button div{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #1A4997;
}
.card-content__button-opened svg{
    transform: rotate(0deg);
    transition: transform 1s ease; 
}
.card-content__button-closed svg{
    transform: rotate(180deg);
    transition: transform 1s ease;
}